@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-size: calc(0.5rem + 0.5vw); */
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}


/* =========================================================================== */
/* NAVBAR */
nav {
    position: relative;
    padding: 0 2rem;
}

.header {
    width: 100%;
    height: 90px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header .header-links {
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
}

.header .toggle-btn {
    color: tomato;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    transition: .2s ease;
}

.header-links ul {
    display: flex;
}

.header-links ul li {
    padding: 0 10px;
}

.header-links ul li a {
    font-weight: 500;
}

.header-links ul:first-child li:first-child a {
    color: #3B5998;
    border-bottom: 2.5px solid #3B5998;
    padding-bottom: 7px;
}

.header-btn {
    cursor: pointer;
    padding: .8rem 1rem;
    border: #3B5998 1px solid;
    transition: .2s ease;
}

.header-btn:hover,
.dropdown-menu li:hover {
    scale: 1.05;
}

.header-btn:active,
.dropdown-menu li:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    width: 300px;
    height: 0;
    background: rgba(26, 25, 25, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown-menu.open {
    height: fit-content;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li:hover {
    background-color: rgba(26, 25, 25, 0.4);
    ;
}

.dropdown-menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* =========================================================================== */
/* TOP BANNER */
.top-banner {
    width: 100vw;
    height: auto;
    max-height: 900px;
}

.top-banner img {
    width: 100%;
    height: inherit;
}


/* =========================================================================== */
/* HERO */
.hero {
    display: flex;
}

.hero-left {
    flex: 0 0 50%;
    height: auto;
    max-height: 704px;
}

.hero-left img {
    width: 100%;
    height: inherit;
}

.hero-right {
    padding: 2rem;
    background: url('Images/back-asset.png');
    background-size: 150%;
    background-position: -50%;
    background-repeat: no-repeat;
}

.Blue-link {
    color: #3B5998;
    font-size: 1rem;
    transition: .3s ease-in-out;
}

.Blue-link:hover {
    color: #1a449e;
    font-weight: 600;
}

.hero-right h2 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 500;
}

.hero-right p {
    margin-top: 1rem;
}

.read-more-filled {
    background-color: #3B5998;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    display: block;
    width: fit-content;
    margin-top: 3rem;
}




/* ========================================================================== */
/* CARDS */
.cards {
    padding: 3rem;
    background-color: #EDF0F6;
}

.card-container {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 10px 10px 10px #0000000D;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .card-title {
    border-bottom: 10px solid #727f9b;
    margin-bottom: 20px;
}

.card-info {
    text-align: center;
}

.read-more-empty {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    display: block;
    width: fit-content;
    margin-top: 3rem;
    color: #1a449e;
    border: 1px solid #1a449e;
}


/* =========================================================================== */
/* MID BANNER */
.mid-banner {
    background-color: #3B5998;
    display: flex;
    height: 600px;
}

.min-banner_left {
    flex: 0 0 50%;
    background-image: url('Images/back-asset.svg');
    background-size: 150%;
    background-position: 150%;
    background-repeat: no-repeat;
    padding: 4rem 1rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.min-banner_left h3 {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
}

.min-banner_left p {
    color: #fff;
    margin-top: 1rem;
    font-weight: 300;
}

.min-banner_right {
    position: relative;
    width: 50%;
}

.sky-blue-circle {
    width: 14rem;
    height: 14rem;
    background-color: #80D8FF;
    border-radius: 50%;
    top: 5rem;
}

.blue-circle {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: #4D9AD4;
    left: 17rem;
    top: 35%;
}

.gray-circle {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background-color: #BEC8DD;
    bottom: 5rem;
    left: 5rem;
}

.sky-blue-circle,
.blue-circle,
.gray-circle {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 0px 50px 50px #00000029;
}


/* =========================================================================== */
/* INDUSTRIES */
.industry {
    margin-top: 3rem;
}

.industry a,
.industry h2 {
    margin-left: 3rem;
}

.industry h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.industry-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0 3rem;
}

.industry-card {
    box-shadow: 0px 0px 10px #0000002B;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
}

.industry-card img {
    width: 100px;
    height: 100px;
}

.industry-bottom {
    width: 100vw;
    margin-top: 5rem;
}

.industry-bottom img {
    width: 100%;
}



/* =========================================================================== */
/* testimonial */
.testimonial {
    background-color: #EDF0F6;
}

.testimonial-title {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 3rem;
    padding-right: 3rem;
}

.testimonial-title h2 {
    margin: 1rem 0;
}

.testimonial-container {
    background-color: #3B5998;
    height: 400px;
    margin: 100px 0;
}

.testimonial-container {
    display: flex;
}

.testimonial-photo {
    flex: 0 0 50%;
    display: flex;
}

/* =========================================================================== */
/* =========================================================================== */
/* RESPONSIVE DESIGN */
@media only screen and (max-width: 912px) {

    .header .header-links,
    .header .header-btn {
        display: none;
    }

    .header .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }

    .hero {
        flex-direction: column;
    }

    .card-container {
        grid-template-columns: 1fr 1fr;
    }

    .mid-banner {
        flex-direction: column;
        height: 1100px;
    }

    .sky-blue-circle {
        top: 4rem;
        left: 40%;
    }

    .gray-circle {
        top: 15rem;
        left: 50%;
    }

    .blue-circle {
        top: 13rem;
        left: 100%;
    }

    .industry-cards-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .dropdown-menu {
        left: 2rem;
        width: unset;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .sky-blue-circle {
        left: 1rem;
    }

    .gray-circle {
        left: 4rem;
    }

    .blue-circle {
        left: 14rem;
    }

    .industry-cards-container {
        grid-template-columns: 1fr 1fr;
    }
}